<body bgcolor="aqua">
 <center>
   <h1>Check Your Dibetes Result</h1>
   <hr style="color: yellow;background-color:white">
  <form action="/result">
     <table>
      <tr>
        <td align="right">Name:</td>
        <td align="left"><input type="text" name="name" /></td>
      </tr>
      <tr>
        <td align="right">Pregnencies:</td>
        <td align="left"><input type="text" name="preg" /></td>
      </tr>
      <tr>
        <td align="right">Glucose:</td>
        <td align="left"><input type="text" name="gl" /></td>
      </tr>
      <tr>
        <td align="right">BloodPressure:</td>
        <td align="left"><input type="text" name="bp" /></td>
      </tr>
      <tr>
        <td align="right">SkinThickness:</td>
        <td align="left"><input type="text" name="st" /></td>
      </tr>
      <tr>
        <td align="right">Insulin:</td>
        <td align="left"><input type="text" name="in" /></td>
      </tr>
      <tr>
        <td align="right">BMI:</td>
        <td align="left"><input type="text" name="bmi" /></td>
      </tr>
      <tr>
        <td align="right">DiabetesPedigreeFunction:</td>
        <td align="left"><input type="text" name="dpf" /></td>
      </tr>
      <tr>
        <td align="right">Age:</td>
        <td align="left"><input type="text" name="age" /></td>
      </tr>
      <tr>
        <td align="right"></td>
        <td align="right"><input type="Submit"/></td>
      </tr>
  </table>
  </form>
 </center>
</body>


